 
<template>




<div id="container" class="">
  
    <div id="sidebar" :class="sidebarVisible ? 'sidebar' : 'sidebarslim'" >
      <!-- Sidebar content start-->
     
          <div class="mt-4">
            <h5 class="mb-3">Parameters</h5>
            <div v-for="(parameter, index) in gptParameters" :key="index" class="mb-3">
              <label :for="parameter.name" class="form-label">{{ parameter.label }}</label>
              <input type="range" class="form-range" :id="parameter.name" :name="parameter.name" :min="parameter.min" :max="parameter.max"  :step="parameter.step" :value="parameter.value" @input="updateParameterValue(index, $event.target.value)"/>
              <div>{{ parameter.value }}</div>
            </div>
          </div>
       
      <!-- Sidebar content end-->
    </div>



    <div  id="chatarea" :class="sidebarVisible ? 'col' : 'col'">
      <div class="">
        <button @click="toggleSidebar" class="btn btn-dark" id="hamburger-menu"><span>≡</span></button>
      </div>

      <!-- Chat Window START-->
      <div class="chat-window " ref="chatWindow" > 
            <div :class="message.type" v-for="(message, index) in messages" :key="index">
                 <!-- user -->
                <div v-if="message.type === 'user'" class="user-message d-flex justify-content-end align-items-start">
                  <div class="message-content text-end ">{{ message.content }}</div> 
                  <img src="../assets/user.svg" style="width:48px; margin-right: 10px;" class="user-icon">
                </div>

                <!-- bot -->
                <div v-else class="bot-message d-flex justify-content-start align-items-start">
                  <img src="../assets/gptlogo.svg" style="width:48px; margin-right: 10px;" class="bot-icon">
                  <!-- the message only contains a link (therefore it must be dall-e answering) -->
                  <div v-if="isLink(message.content)" class="message-content text-start"> <img :src="message.content" alt="DALL-E Generated Image" class="float-left rounded" /></div>
                  
                  <!-- the message contains text - this is gpt -->
                  <div v-else class="message-content text-start">{{ message.content }} </div>
                </div>
            </div>
        </div>
        <!-- Chat Window END-->
       <!-- Prompt INPUT START-->
       <div class="input-form">
           <form @submit.prevent="sendMessage">
            <div class="input-group">
              <select class="form-select" v-model="apiType">
                <option value="gpt4">GPT-4</option>
                <option value="dalle">DALL-E</option>
              </select>
              <input id="prompt" type="text" class="form-control" placeholder="Type your message here..." v-model="inputMessage"/>
              <button type="submit" class="btn btn-primary">Send</button>
            </div>
          </form>
        </div>
        <!-- Prompt INPUT END-->
    </div>

</div>









  </template>
  
  <script>


const validator = require('validator');


  export default {
    data() {
      return {
        inputMessage: "",
        messages: [],
        gptParameters: [
          {
            name: "temperature",
            label: "Temperature",
            min: 0,
            max: 2,
            step: 0.01,
            value: 0.5,
          },
          {
            name: "max_tokens",
            label: "Max Tokens",
            min: 1,
            max: 2048,
            step: 1,
            value: 20,
          },
          {
            name: "top_p",
            label: "Top P",
            min: 0,
            max: 1,
            step: 0.01,
            value: 0.5,
          },
          {
            name: "frequency_penalty",
            label: "Frequency Penalty",
            min: 0,
            max: 2,
            step: 0.01,
            value: 0,
          },
          {
            name: "presence_penalty",
            label: "Presence Penalty",
            min: 0,
            max: 2,
            step: 0.01,
            value: 0,
          },
        ],
        apiType: "gpt4",
        websocket: null,
        websocketListeners: null,
        currentResponseIndex: null,
        sidebarVisible: true,
      };
    },










    methods: {
      async sendMessage() {
        if (this.inputMessage.trim()) {
          this.messages.push({ type: "user", content: this.inputMessage }); //make the users message visible in the chatwindow

          const requestData = {
            prompt: this.inputMessage,
            parameters: this.gptParameters.reduce((acc, param) => {
              acc[param.name] = param.value;
              return acc;
            }, {}),
          };


          if (this.apiType === "gpt4"){
            console.log(`sending request data:`,requestData)
            try {
              this.websocket.send(JSON.stringify(requestData));
            }
            catch (e){
              this.connectWebSocket()
            }
            
          }

          else {
            fetch('http://localhost:3001/dalle', {
              method: "POST",
              headers: { "Content-Type": "application/json"},
              body: JSON.stringify(requestData),
            })
            .then(response =>  response.json())
            .then(response => {
              console.log(response)
              this.messages.push({ type: "response", content: response.bot });  // make response visible in the chatwindow
            
            })
            .catch(error => {
              this.messages.push({ type: "response", content: error});
            });
          }
  

          this.inputMessage = "";
          this.scrollToBottom() 
        }
      },


      async processWebSocketMessage(rawData) {
        if (rawData.includes("[DONE]") || rawData.includes("END")) {
          this.currentResponseIndex = null; // Reset the current response index
          return
        }

        if (this.currentResponseIndex === null) {
          this.currentResponseIndex = this.messages.length;
          this.messages.push({ type: "response", content: rawData });
        } 
        else {
          this.messages[this.currentResponseIndex].content += rawData;
        }
      },


  



      updateParameterValue(index, value) {
        this.gptParameters[index].value = parseFloat(value);
      },
      isLink(content) {
        if (typeof content !== 'string') { return false;}
        if (validator.isURL(content)) {
          try {new URL(content); return true } catch (e) {return false } // test twice because isURL is as buggy as new URL() alone
        } 
        return false
      },
      scrollToBottom() {
        this.$nextTick(() => {
          const chatWindow = this.$refs.chatWindow;
          const lastMessage = chatWindow.lastElementChild;
          if (lastMessage) {
            lastMessage.scrollIntoView({ behavior: 'smooth', block: 'start', inline: 'nearest' });
          }
        });
      },

      connectWebSocket() {
        this.websocket = new WebSocket('ws://localhost:3001/davinci');
        
        if (!this.websocketListeners){
          this.websocket.addEventListener('message', (event) => {
            this.processWebSocketMessage(event.data);
          });
          
          this.websocket.addEventListener('close', (event) => {
            console.log('WebSocket connection closed:', event);
            setTimeout(() => {
              this.connectWebSocket();
            }, 4000);
          });
          
          this.websocket.addEventListener('error', (event) => {
            console.error('WebSocket error:', event);
          });

          this.websocketListeners = true
        }
      },
      toggleSidebar() {
        this.sidebarVisible = !this.sidebarVisible;
      },
      updateSidebarSlim() {
        this.sidebarVisible = window.innerWidth > 400;
      },

    },
    mounted() {
      window.addEventListener('resize', this.updateSidebarSlim);
      document.getElementById("prompt").focus();
      this.connectWebSocket();
      this.sidebarVisible = window.innerWidth > 400;
    },
    beforeUnmount() {
      window.removeEventListener('resize', this.updateSidebarSlim);
    },
  };
  </script>
  












<style scoped>

#container {
  display: flex;
 
  height: 100vh;
}


#sidebar {
  position: relative;
  top:0;
  left:0;
  margin: 0px;
  transition: 0.5s;
  scrollbar-width: thin;
  overflow-y: auto;
  color: #ffffff;
  padding: 20px;
  background-color: #20212383;
  height:100vh;
}
.sidebar {
  width:200px;
 
}

.sidebarslim {
  padding: 0 !important;;
  visibility: hidden;
  opacity: 0;
  width:0;
 
}



#chatarea {
 
  transition: width 0.5s;
  display: flex;
 
  height: 100vh;
}



.chat-window {
  flex: 1 1 auto;
  overflow-y: auto;
  overflow-x: hidden;
  background-color:  rgb(52,53,65);
  color: #ffffff;
  scrollbar-width: none; 
  padding-bottom: 250px;
}






#hamburger-menu {
  position: fixed;
  z-index: 1;
  border-radius: 0;
}




*::-webkit-scrollbar {
  width: 0.5em;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #555454;
  border-radius: 10px;
}
*::-webkit-scrollbar-thumb:hover {
  background-color: #838383;
  border-radius: 10px;
}


.input-form {
  position: fixed;
  bottom: 0px;
  padding: 1rem;
  background: linear-gradient(to top, #202123, transparent);
  height:100px;
  padding-top:30px;
  width:100%;
  display:flex;
  justify-content: center;
}
.input-form form{
 width:100vw; 
}


.input-group {
  min-width:320px;
  max-width:700px;
  margin: auto auto;
}

.form-select {
  background-color: #495057;
  color: #ffffff;
  border-color: transparent;
  max-width: 120px;
}

.form-control {
  background-color: rgb(52,53,65);
  color: #ffffff;
  border-color: rgb(52,53,65);
}

.form-control:focus {
  background-color: #495057;
  color: #ffffff;
  border-color: #6c757d;
  box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.1);
}






.user-message {
  margin-bottom: 1rem;
  background-color: rgb(52,53,65);
  padding: 20px 10px 20px 10px;
}
.user-icon {
  width: 48px;
  margin-left: 10px;
  align-self: flex-start;
}
.bot-message {
  margin-bottom: 1rem;
  background-color: rgb(68,70,84);
  padding: 20px 50px 20px 50px;
  
}
.bot-icon {
  width: 48px;
  margin-right: 10px;
  align-self: flex-start;
}
.message-content {
  flex: 1;
}

</style>

  