<template>
  <Chat msg="Welcome to Your Vue.js App"/>
</template>

<script>
import Chat from './components/chat-main.vue'

export default {
  name: 'App',
  components: {
    Chat
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

body {
  background-color: #202123;
  color: #ffffff;
}


</style>
